.mainAboutSection{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.leftAboutSection{
    height: 500px;
    width: 50%;
    background-color: aqua;
}
.rightAboutSection{
    height: 500px;
    width: 50%;
    background-color: bisque;
}